<div class="profile-name">ユーザー名
 <%= @user.name %>
</div>
   <div class="introduction">自己紹介
    <%= @user.introduction %>
   </div>
<% if current_user == @user %>
  <%= link_to "ユーザー情報を編集する", edit_user_path(@user), class: "btn btn-sm btn-success" %>
  <% end %>
<h3><%= @user.name %>さんの出費</h3>
合計 : <%= @user.moneys.sum(:payment) %>円
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th>記録日時</th>
        <th>金額</th>
        <th>メモ</th>
      </tr>
     </thead>
     <tbody>
       <% @moneys.each do |money| %>
         <tr>
           <td>
             <%= link_to money.created_at.strftime('%Y/%m/%d'), money_path(money.id) %>
           </td>
           <td>
             ¥<%= money.payment %>
           </td>
           <td>
             <%= money.memo %>
           </td>
         </tr>
      <% end %>
    </tbody>
  </table>
  <div style="text-align: center;">
    <%= paginate @moneys %>
  </div>